/*
    Variables for colors, fonts and typography
*/

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Josefin+Sans&display=swap");

:root {
  --font-family-sans: "Josefin Sans", sans-serif;
  --font-family-txt: "Lato", sans-serif;

  --color-maintext: #111;
  --color-text2: #fff;
  --color-text3: #697a90;
  --color-text4: #fff;
  --color-background: #e2e2e2;
  --color-background2: #252626;
  --color-background3: #d9d9d9;
  --color-accent: #777;
  --color-logo1: #1d1b1a;
  --color-logo2: #014074;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}
