@import "./custom-properties.css";

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
  color: var(--color-maintext);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

a {
  color: var(--color-accent);
}
