@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;
  background-color: var(--color-background);

  @media (--media-min-small) {
    padding: 2em;
  }
}