@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 95%;
  padding: 0.5em;
  justify-content: space-between;
}

.siteTitle {
  color: var(--color-logo1);
  font-weight: 400;
  font-size: 2.5em;
}
.siteDesc {
  color: var(--color-logo2);
  font-weight: 400;
  font-size: 1.5em;
}
